.historyInfo{
  overflow: auto;
  height: 300px;
}
.historyBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  color: #707EAE;
}
.image {
  width: 30px;
  height: 30px;
}
.tbody {
  color: #707EAE;
}
.rate {
  margin: auto;
}
.datetime {
  margin: auto;
}
.pay {
  margin: auto;
}
@media(max-width: 990px) {
  .tbody {
    font-size: 12px;
  }
}
@media(max-width: 700px) {
  .tbody {
    font-size: 10px;
  }
}
@media(max-width: 426px) {
  .image{
    width: 20px;
    height: 20px;
  }
  .historyBlock{
    font-size: 12px;
  }
}
@media(max-width: 321px) {
  .historyBlock{
    font-size: 8px;
  }
}