.toggleLanguage {
  display: flex;
}
.toggle {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.toggleReal {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.toggleFake {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  width: 37px;
  height: 20px;
  background: #c4c4c4;
  border-radius: 10px;
  vertical-align: bottom;
}

.toggleFake::before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: '';
  width: 16px;
  height: 16px;
  background: #3c3c3c;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.toggleReal:checked + .toggleFake::before {
  left: 19px;
  /* right: 2px; */
}

.toggleTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
}