.form {
  padding: 40px;
  width: 50%;
  margin: auto;
}
.select {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 7px;
  width: 100%;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 20px;
}

@media(max-width: 1025px) {
  .form {
    padding: 40px;
    width: 80%;
    margin: auto;
  }
}
@media(max-width: 700px) {
  .form {
    padding: 40px;
    max-width: 90%;
    margin: auto;
  }
}
@media(max-width: 376px) {
  .form {
    padding: 40px;
    width: 100%;
    margin: auto;
  }
}
