.profile {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
}
.profileInfo {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.update {
  position: absolute;
  top: -10px;
  left: -10px;
}
.profileTop {
  display: flex;
  align-items: center;
}
.profileImage {
  border-radius: 10px;
  overflow: hidden;
}
.image {
  width: 100px;
  height: 100px;
}
.profileBottom {
  margin: 10px;
}
.logout {
  text-decoration: none;
  color: #0dcaf0;
  margin: 10px;
}
.prof {
  margin-bottom: 20px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: end;
}
@media(max-width: 820px) {
  .profileInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards{
    display: flex;
    justify-content: center;
  }
}
//@media(max-width: 426px) {
//  .cards{
//    margin-left: 100px;
//  }
//}
@media(max-width: 426px) {
  .profile {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
  }
}
